.forms{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 25vh;
  max-width: 30vw;
  background-color: rgb(73, 72, 70);
  border-radius: 12px;
  text-align: center;
  color: wheat;
  margin:3% 5%;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.forms>button {
  margin-top: 5%;
  margin-bottom: 5%;
}

